<!DOCTYPE>
<html>

  <head>

    <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <title>Anguflix</title>

  </head>


  <body ng-app="flixApp">


    <div class="navbar">
      <h2 class=page-header> My Collection </h2>
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        </div>
      </form>
    </div>


  <div ng-controller="flixCtrl">
      <div class="row">
        <div class="col-md-4" ng-repeat="x in userMovies track by $index">
          <div class="thumbnail">
            <img class="img" ng-src="{{x.img}}" />
              <div class="caption">
              <h3>{{x.title}}</h3>
              <p>{{x.description}}</p>
              <p><a href="#" class="btn btn-primary" role="button">Checkout</a><i class="fa fa-times-circle-o fa-2x" role="button" ng-click="removeMovie($index)" aria-hidden="true"></i>
</p>
        </div>
      </div>
    </div>
  </div>
</div>



    <div ng-controller="flixCtrl">
      <div class="row">
        <div class="col-md-4" ng-repeat="x in allMovies track by $index">
          <div class="thumbnail">
            <img class="imgclss" ng-src="{{x.img}}" />
            <div class="caption">
              <h3>{{x.title}}</h3>
              <p>{{x.description}}</p>
              <p><a href="#" class="btn btn-primary" ng-click="addMovie(x.id, $index)" role="button">Buy Movie</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="flixCtrl.js"></script>
    <script src="flixService.js"></script>
  </body>

</html>
